  <section id="hero-area">
       <div class="container">
           <div class="row">
               <div class="col-md-6">
                   <div class="block">
                       <h1 class="wow fadeInDown">Welcome to our guestbook</h1>
                       <p class="wow fadeInDown" data-wow-delay="0.3s">Review our service. Post your feedback.</p>
                       <div class="wow fadeInDown" data-wow-delay="0.3s">
                       	<a class="btn btn-default btn-home" href="#comments" role="button">Go to comments</a>
                       </div>
                   </div>
               </div>
				<div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1 wow fadeInUp" data-wow-delay="0.3s">
					<div class="form-group">
					 <h1>Feedback</h1>
						<form>
							<div class="input-field">
								<input type="text" class="form-control" placeholder="Your Name" ng-model="name" required />
							</div>
							<div class="input-field">
								<input type="email" class="form-control" placeholder="Email Address" ng-model="email.text" ng-model-options="{ allowInvalid: true}" />
							</div>
							<div class="input-field">
								<textarea class="form-control" placeholder="Your Comment" rows="3" ng-model="comment" required></textarea>
							</div>
							<button class="btn btn-send" type="submit" ng-click="createComment(-1, 0)">Post</button>
						 </form>

				     </div>
				 </div>
           </div>
       </div>
    </section>

    <section id="comments" class="section">
         <div class="container">
             <div class="row">
	   			 <div class="heading wow fadeInUp">
                     <h2>Comments</h2>                        
                 </div>
                 <div class="col-md-7 col-sm-12 wow fadeInLeft" ng-show="!showComments">
                 	<div class="sub-heading">
                 		<h3 align="center">No comments found. Be first to review our service.</h3>
                 	</div>
                 </div>		
		   		 <div class="container wow fadeInRight" ng-show="showComments">
					<div class="row" ng-repeat="c in comments | orderBy : 'linkedto'" ng-if="c.linkedto === 0" >
					    <div class="comments-container">
							<ul id="comments-list" class="comments-list">
								<li>
									<div class="comment-main-level">
										<div class="comment-avatar"><img ng-src="{{imageURLlist[$index]}}" alt=""></div>
										<div class="comment-box">
											<div class="comment-head">
												<h6 class="comment-name by-author">{{c.name}}</h6>
												<i class="fa fa-reply" ng-click="showReply =! showReply"></i>
											</div>
											<div class="comment-content">
									   			{{c.comment}}		
											</div>
										</div>
									</div>
									<div ng-if="count(c.ordernum) > 0">
										<button class="btn btn-xs btn-warning" ng-if="count(c.ordernum) > 2" onclick="$(this).next('ul').find('li.repsh').slideToggle('slow', function(){ $(this).parent().prev().text(changetext($(this).parent().prev().text())); });">View other {{count(c.ordernum) - 2}} replies </button>
										<ul class="comments-list reply-list">
												<li ng-repeat="rep in comments | orderBy : 'ordernum'" ng-if="rep.linkedto === c.ordernum" ng-style="{display: rep.ordernum === 1 || rep.ordernum === 2 ? 'static' : 'none'}" ng-class="rep.ordernum === 1 || rep.ordernum === 2 ? 'repsv' : 'repsh'">
													<div class="comment-avatar"><img ng-src="{{imageURLlist[$index]}}" alt=""></div>
													<div class="comment-box">
														<div class="comment-head">
															<h6 class="comment-name">{{rep.name}}</h6>
														</div>
														<div class="comment-content">
															{{rep.comment}}
														</div>
													</div>
												</li>															
										  </ul>
								    </div>
								</li>
							</ul>
							<div ng-show="showReply">
								<div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1 wow zoomIn" data-wow-delay="0.2s">
									<div class="form-group">
										<form>
											<div class="input-field">
												<input type="text" class="form-control" placeholder="Your Name" ng-model="tempguest[c.ordernum].name" required />
											</div>
											<div class="input-field">
												<input type="email" class="form-control" placeholder="Email Address" ng-model="tempguest[c.ordernum].email.text" ng-model-options="{ allowInvalid: true}" />
											</div>
											<div class="input-field">
												<textarea class="form-control" placeholder="Your Comment" rows="3" ng-model="tempguest[c.ordernum].comment" required></textarea>
											</div>
											<button class="btn btn-reply" type="submit" ng-click="createComment(1,c.ordernum)">Reply</button>
										</form>
		
									</div>
								</div>
						    </div>	
					   </div>	
					</div>					
				</div>                 
          </div>
        </div>
     </section>